#root
{
    height: 100vh;
}

.leaflet-container
{
    height: 100vh;
}

/* .leaflet-tile-container {
    display: none;
  }  */
  .leaflet-interactive
  {
    stroke-width: 2;
    fill: none;
    
  }