@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.description
{
    color: grey;
}
.header
{
    margin-bottom: 2%;
    font-weight: 600;
    font-size: 25px;
}

.title
{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    flex-direction: column;
}

#form{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/FarmLand.jpg');
    background-repeat: no-repeat;
    
}
.input
{
    display: flex;
    margin-bottom: 40px;
    flex-direction: column;
}
#Submit,#email,#password,#name,#years,#degree,#specialization
{
    width: 100%;
    height: 27px;
    margin-bottom: 2.5%;
    padding: 3px;
}



#Submit:focus,#email,#password,#name,#specialization,#years
{
    outline: none;
}
.email_header,.password_header,.name_header
{
    margin-bottom: 20px;
}

.Name
{
    margin-top: -7%;
}
#email,#password
{
    width: 100%;
    height: 27px;
    margin-bottom: 2.5%;
    padding: 3px;
}

#email,#password
{
    outline: none;
}
#Submit
{
    background-color: #009839;
    border-radius: 20px;
    border: none;
    height: 40px;
    color: white;
    font-size: 16px;
}

.image
{
    background-color: aqua;
}
.content
{
    height: 30%;
}
.LoginPage
{
    height: 90%;
    width: 38%;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.input
{
    margin-top: -5%;
}

#Submit
{
    margin-top: 4%;
}